@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: "Josefin Sans", sans-serif;
}

.global__container {
  width: 100vw;
  height: 100vh;
}

.navbar {
  width: 100vw;
  height: 60px;
  background-color: #060b62;
  /* background-color: crimson; */

  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
}
.navbar__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  padding-right: 20px;

  font-weight: 400;
  text-shadow: 1px 1px whitesmoke;
}

.navbar__btn {
  margin-left: 10px;
}

.navbar__menu {
  position: absolute;
  top: 0px;
  left: -200px;
  display: flex;
  flex-direction: column;
  background-color: #060b62;
  /* background-color: crimson; */
  width: 200px;
  height: 100vh;
  transition: 850ms;
}

.navbar__active {
  left: 0;
  z-index: 1;
}

.cancel__btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 20px;
  cursor: pointer;
  transition: 850ms;
}

.menu__item {
  text-decoration: none;
  color: white;
  padding: 6px 0px;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  width: 160px;
  margin: 20px auto;
  display: flex;
  justify-content: start;
  align-items: baseline;
  transition: 850ms;
}
.menu__item:hover {
  background-color: rebeccapurple;
  transition: 850ms;
}
.cancel__btn :hover {
  background-color: red;
  transition: 850ms;
}

.menu__icon {
  margin: 0 20px;
}
